<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inbox
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Inbox
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <!-- <app-message *ngFor="let message of pockemons; trackBy:trackByFnPockemons" [message]="message"></app-message> -->
    <ion-item *ngFor="let pokemon of pockemons; trackBy:trackByFnPockemons">
      <ion-label>{{pokemon.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
